@font-face {
    font-family: PipBoy;
    src: url('../monofonto.otf');
}

.navbar.navbar-light{
    border-bottom: 2px solid;
    margin: 10px 10px;
}

.navbar.navbar-light::before, .navbar.navbar-light::after{
    height: 5px;
    width: 2px;
    content: "";
    position:absolute;
    display: block;
    z-index: 5000;
    background: #13fe17;
    bottom: -6px;
}

.navbar::before{
    left: 0px;
}
.navbar::after{
    right: 0px;
}

.navbar-nav .nav-item > .nav-link{
    text-align: center;
}

.navbar-nav{
    width: 100%;
}

body{
    font-family: PipBoy, sans-serif;
    color: #13fe17;
    background: #272b23;
}
.navbar-light navbar-nav>li{
    display: block;
    position: relative;
    width: 100%;
}

ul > li.nav-item >button.nav-link, ul > li.nav-item >button.nav-link.active, ul.navbar-nav.me-auto.mb-2.mb-lg-0>li.nav-item>a.nav-link{
    color: #13fe17;
    font-size: 32px;
    line-height: 22px;
    padding-bottom: 0px;
    background: none;
    
}

.center-image{
    position: absolute;
    margin: auto;
    width: 100%;
}


.center img{
    margin: auto !important;
    display:  block !important;
    position: relative !important;
    max-height: 300px !important;
    margin-top: 100px !important;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7)  brightness(1) contrast(2) !important;
}

.pip-footer{
    MARGIN: 10px;
    POSITION: FIXED;
    BOTTOM: 0;
    width: calc(100% - 20px);
}

body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0,0,0,0.4) 1px, transparent 1px, transparent 2px);
    opacity: 0.4;
    z-index: 1000000;
    pointer-events: none;
}

.nav.nav-tabs {
    margin: 20px;
    border-bottom: none;
}

.navbar.navbar-light .navbar-nav{
    margin: 0px 200px;
}

ul.nav.nav-tabs > li.nav-item >button.nav-link.active{
    border: none;
}

ul.nav.nav-tabs > li.nav-item >button.nav-link:hover{
    border: 1px transparent;
}

ul.nav.nav-tabs > li.nav-item >button.nav-link{
    font-size: 28px;
    background: transparent;
    border: 1px solid transparent;
    padding: 10px 20px;
}

ul.nav.nav-tabs > li.nav-item:nth-child(2) >button.nav-link{
    opacity: 0.6;
}


ul.nav.nav-tabs > li.nav-item:nth-child(3) >button.nav-link{
    opacity: 0.3;
}

.level-progress{
    width: 99%;
    border: 2px solid;
    height: 15px;
}

.level-progress-indicator{
    height: 11px;
    background: #13fe17;
    position: relative;
    width: 50%;
}

.navbar.navbar-light.pip-footer {
    background: rgba(16,255,0,0.15);
}
.stat-bar{
    width: 50px;
    margin: auto;
}


